osfStripeCapturePaymentIntentExternalService/flows/Order_Summary_New_Order_Summary_Captures_Stripe_Payment_External_Service.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Callout</name>
        <label>Callout</label>
        <locationX>314</locationX>
        <locationY>768</locationY>
        <actionName>OSFStripeCapturePaymentIntent.postV1Payment_intentsCaptureById</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Check_Response_Code</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Payment_Gateway_Log</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>id</name>
            <value>
                <elementReference>Get_Payment_Authorization_Record.GatewayAuthCode</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>responseBodySuccess</assignToReference>
            <name>200</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>responseBodyUnexpectedState</assignToReference>
            <name>400Exc</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>responseBodyFailure</assignToReference>
            <name>401Exc</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>responseBodyFailure</assignToReference>
            <name>402Exc</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>responseBodyFailure</assignToReference>
            <name>404Exc</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>test</assignToReference>
            <name>defaultExc</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>responseCode</assignToReference>
            <name>responseCode</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_Basic_Log_Values</name>
        <label>Set Basic Log Values</label>
        <locationX>314</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>paymentGatewayLog.GatewayResultCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>responseCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paymentGatewayLog.GatewayDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getTodaysDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paymentGatewayLog.ReferencedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payment_Authorization_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paymentGatewayLog.OrderPaymentSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Payment_Summary_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paymentGatewayLog.InteractionType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Capture</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Callout</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Failure_Log_Values</name>
        <label>Set Failure Log Values</label>
        <locationX>578</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>paymentGatewayLog.GatewayResultCodeDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>generateFailureErrorMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paymentGatewayLog.GatewayMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>responseBodyFailure.error.message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paymentGatewayLog.InteractionStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Payment_Gateway_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Success_Log_Values</name>
        <label>Set Success Log Values</label>
        <locationX>50</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>paymentGatewayLog.InteractionStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paymentGatewayLog.SfResultCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Payment_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Unexpected_State_Log_Values</name>
        <label>Set Unexpected State Log Values</label>
        <locationX>314</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>paymentGatewayLog.GatewayResultCodeDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>generateUnexpectedStateErrorMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paymentGatewayLog.GatewayMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>responseBodyUnexpectedState.error.message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paymentGatewayLog.InteractionStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Payment_Gateway_Log</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Can_Auto_Capture</name>
        <label>Check If Can Auto Capture</label>
        <locationX>710</locationX>
        <locationY>528</locationY>
        <defaultConnectorLabel>Not Eligible For Auto Capture</defaultConnectorLabel>
        <rules>
            <name>Can_Auto_Capture</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payment_Authorization_Record.GatewayResultCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>200 OK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Payment_Authorization_Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Processed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Payment_Authorization_Record.Amount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Payment_Authorization_Record.GatewayAuthCode</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_Basic_Log_Values</targetReference>
            </connector>
            <label>Eligible For Auto Capture</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Response_Code</name>
        <label>Check Response Code</label>
        <locationX>314</locationX>
        <locationY>888</locationY>
        <defaultConnector>
            <targetReference>Set_Failure_Log_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Failed</defaultConnectorLabel>
        <rules>
            <name>X200_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Success_Log_Values</targetReference>
            </connector>
            <label>200 Success</label>
        </rules>
        <rules>
            <name>X400_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>400.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Unexpected_State_Log_Values</targetReference>
            </connector>
            <label>400 Error</label>
        </rules>
    </decisions>
    <description>This flow uses an External Service to capture a Stripe payment after an Order Summary record is created (i.e. successfully captured from the storefront)</description>
    <environments>Default</environments>
    <formulas>
        <name>generateFailureErrorMessage</name>
        <dataType>String</dataType>
        <expression>{!responseBodyFailure.error.z0type} &amp; &apos;: &apos; &amp; {!responseBodyFailure.error.code}</expression>
    </formulas>
    <formulas>
        <name>generateUnexpectedStateErrorMessage</name>
        <dataType>String</dataType>
        <expression>{!responseBodyUnexpectedState.error.z0type} &amp; &apos;:  &apos; &amp; {!responseBodyUnexpectedState.error.code}</expression>
    </formulas>
    <formulas>
        <name>getAmountInDecimals</name>
        <dataType>Currency</dataType>
        <expression>{!responseBodySuccess.amount} / 100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>getTodaysDate</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Order Summary: New Order Summary Captures Stripe Payment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Summary: New Order Summary Captures Stripe Payment (External Service)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Payment_Gateway_Log</name>
        <label>Create Payment Gateway Log</label>
        <locationX>314</locationX>
        <locationY>1344</locationY>
        <connector>
            <targetReference>Link_Payment_Authorization_Log_To_Payment_Summary</targetReference>
        </connector>
        <inputReference>paymentGatewayLog</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Payment_Record</name>
        <label>Create Payment Record</label>
        <locationX>50</locationX>
        <locationY>1128</locationY>
        <connector>
            <targetReference>Create_Payment_Gateway_Log</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>getAmountInDecimals</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Get_Payment_Authorization_Record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date</field>
            <value>
                <elementReference>getTodaysDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>getTodaysDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GatewayDate</field>
            <value>
                <elementReference>getTodaysDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GatewayResultCode</field>
            <value>
                <elementReference>responseCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderPaymentSummaryId</field>
            <value>
                <elementReference>Get_Order_Payment_Summary_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentAuthorizationId</field>
            <value>
                <elementReference>Get_Payment_Authorization_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentGroupId</field>
            <value>
                <elementReference>Get_Payment_Authorization_Record.PaymentGroupId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentMethodId</field>
            <value>
                <elementReference>Get_Payment_Authorization_Record.PaymentMethodId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProcessingMode</field>
            <value>
                <stringValue>External</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SfResultCode</field>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Capture</stringValue>
            </value>
        </inputAssignments>
        <object>Payment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Order_Payment_Summary_Record</name>
        <label>Get Order Payment Summary Record</label>
        <locationX>710</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Payment_Authorization_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderPaymentSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment_Authorization_Record</name>
        <label>Get Payment Authorization Record</label>
        <locationX>710</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Can_Auto_Capture</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderPaymentSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Payment_Summary_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PaymentAuthorization</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Link_Payment_Authorization_Log_To_Payment_Summary</name>
        <label>Link Payment Authorization Log To Payment Summary</label>
        <locationX>314</locationX>
        <locationY>1464</locationY>
        <connector>
            <targetReference>Link_Payment_Tokenization_Log_To_Payment_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InteractionType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Authorization</stringValue>
            </value>
        </filters>
        <filters>
            <field>ReferencedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Payment_Authorization_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OrderPaymentSummaryId</field>
            <value>
                <elementReference>Get_Order_Payment_Summary_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PaymentGatewayLog</object>
    </recordUpdates>
    <recordUpdates>
        <name>Link_Payment_Tokenization_Log_To_Payment_Summary</name>
        <label>Link Payment Tokenization Log To Payment Summary</label>
        <locationX>314</locationX>
        <locationY>1584</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InteractionType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tokenize</stringValue>
            </value>
        </filters>
        <filters>
            <field>ReferencedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Payment_Authorization_Record.PaymentMethodId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OrderPaymentSummaryId</field>
            <value>
                <elementReference>Get_Order_Payment_Summary_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PaymentGatewayLog</object>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <object>OrderSummary</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Order_Payment_Summary_Record</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>paymentGatewayLog</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PaymentGatewayLog</objectType>
    </variables>
    <variables>
        <name>responseBodyFailure</name>
        <apexClass>ExternalService__OSFStripeCapturePaymentIntent_CapturePaymentIntentFailureResponse</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>responseBodySuccess</name>
        <apexClass>ExternalService__OSFStripeCapturePaymentIntent_CapturePaymentIntentSuccessResponse</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>responseBodyUnexpectedState</name>
        <apexClass>ExternalService__OSFStripeCapturePaymentIntent_capturePaymentIntentUnexpectedStateResponse</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>responseCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>test</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
